<div class="container d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><strong>管理者トップ画面</strong></h1>
      <h4 class="text-center mt-4">ヘッダーより参照、編集する項目をお選びください<h4></p>
    </div>
  </div>
</div>